body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  background-color: #EFEFEF;
}
p {
  padding: 10px;
}
a {
  color: #e28e27;
  font-size: 1.5em;
}
a:visited {
  color: #273A4D;
}
a:hover {
  color: #F39F38;
}
h1 {
  padding: 10px;
}